.golden-rating{
    color: gold;
}
.product-card{
    transition: all .2s ease-out;
    box-shadow: 0 3px 20px 0px rgb(0 0 0/12%);
    border-radius: 1.5rem!important;
    overflow: hidden;
}
.product-card:hover{
    transform: translateY(-10px);
    box-shadow: 0 1rem 3rem rgba(31,45,61, .125)!important;
}